{% extends 'base.html' %} 

{% block title %}Add Images to a Collection{% endblock %} 

{% block content %}
<div class="container">
	<!-- TODO: Add navbar here -->
	<div class="row">
		<div class="col">
			<!-- TODO: Add image placeholder here -->
			Image placeholder 
		</div>
		<div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" 
                data-toggle="dropdown">Choose a Destination
                <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for destination in destinations %}
            <li>
              <a href='destinations/{{ destination.destination_id }}'>{{ destination.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- TODO: Add Upload Form here -->
      Choose an Image
      <button>Upload</button>
		</div>
	</div>
</div>

{% endblock %}