{% extends 'base.html' %} 

{% block title %}{{ destination.name }}{% endblock %} 

{% block content %}
<div class="container">
	<h1>{{ destination.name }}</h1>
	<hr>
	<div class="row">
		<div class="col">
			{% for image in destination_images %}
				<a href="/image/{{ image.image_id }}" data-toggle="lightbox" data-toggle="lightbox" data-gallery="gallery">
					<img class="uploaded img-responsive box-shadow" src="/static/img/uploads/{{ image.url }}">
				</a>
			{% endfor %}
		</div>
	</div>	
</div>

{% endblock %}