{% extends 'base.html' %} 

{% block title %}Virtual Vacation{% endblock %} 

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" 
                data-toggle="dropdown">Choose a Destination
                <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for destination in destinations %}
            <li>
              <a href='destinations/{{ destination.destination_id }}'>{{ destination.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <!-- TODO: Add image carousel here -->
        Image Carousel Goes Here
      </div>
    </div>
    <div class="col">
      <ul>
        <li>Browse photo collections by destination and get inspiration for your next trip</li>
        <li>Upload your own photos to help inspire others!</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}